{% extends ':layouts:base.html.twig' %}

{% set page_title = 'Dashboard' %}
{% set page_class = 'home' %}

{% block body %}
	<div class="row location">
		<div class="col-lg-12">
			<h2 class="name">Rotterdam Heijplaat</h2>
			<span class="date">{{ 'now'|date('d-m-Y H:i:s') }}</span>
		</div>
	</div>

	<div class="ground"></div>
{% endblock %}