{% extends ':layouts:base.html.twig' %}

{% set page_title = 'Dashboard' %}

{% block body %}
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1>Dashboard</h1>
					<button class="js-menu-toggle">Toggle Menu</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}