{% extends ':layouts:base.html.twig' %}

{% set page_title = 'Exports' %}
{% set page_class = 'exports' %}

{% block body %}
	<div class="row exports">

		<div class="card">
			<h2 class="card__title">Exports</h2>
			<p>This page allows you to export the sensor-data to Excel.</p>

		</div>

	</div>
{% endblock %}