{% extends ':layouts:base.html.twig' %}

{% set page_title = 'Statistics' %}
{% set page_class = 'statistics' %}

{% block body %}
	<div class="row statistics">

		<div class="card">
			<h2 class="card__title">Readings</h2>
			<p>Choose a sensor and then a type.</p>

			<form class="form-inline">
				<div class="form-group">
					<label for="sensor" class="sr-only">Sensor</label>
					<select name="sensor" id="sensor" class="form-control js-statistics-sensor">
						<option disabled="disabled" selected="selected">Choose a sensor</option>
						{% for sensor in sensors %}
							<option value="{{ sensor.uuid }}" data-types="{{ sensor.jsonSensorTypes }}">{{ sensor.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="type" class="sr-only">Type</label>
					<select name="type" id="type" class="form-control js-statistics-types">
						<option disabled="disabled" selected="selected">Choose a sensor</option>
					</select>
				</div>
				<button type="submit" class="btn btn-success disabled js-statistics-button">Load</button>
			</form>

			<div class="chart">
				<canvas id="readingsChart" width="400" height="400"></canvas>
			</div>
		</div>

	</div>
{% endblock %}