/**
 * @section : Home
 * @project : ICT Lab Dashboard
 * @author  : Jerome Anker <0864155@hr.nl>
 */

.home {
	.ground {
		-webkit-box-direction: normal;
		-webkit-box-flex: 1;
		-webkit-user-select: none;
		background-color: $color-frog;
		box-sizing: border-box;
		display: block;
		font-family: sans-serif;
		position: fixed;
		bottom: 0;
		height: 100px;
		width: 100%;
	}
}