/**
 * @section : Statistics
 * @project : ICT Lab Dashboard
 * @author  : Jerome Anker <0864155@hr.nl>
 */

.statistics {
	.statistics-form {
		padding: 0 !important;

		.form {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	.chart {
		margin-top: 20px;
		height: 400px;
		max-height: 400px;
		position: relative;

		.chart-overlay {
			position: absolute;
			background-color: rgba(255, 255, 255, 0.9);
			width: 100%;
			height: 400px;
			top: 0;
			display: table;
			vertical-align: middle;
			text-align: center;

			p {
				font-weight: 600;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}