{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set page_title = 'Password already requested' %}

{% block fos_user_content %}
	<section class="card">
		<h1 class="page-title">{{ page_title }}</h1>
		<p>{{ 'resetting.password_already_requested'|trans }}</p>
		<a class="button button--primary" href="{{ path('fos_user_security_login') }}">Back to login</a>
	</section>
{% endblock fos_user_content %}