{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<div id="sidebar-toggle">
		<button class="menu-button js-menu-toggle">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</button>
	</div>

	<div id="sidebar-wrapper">
		<div class="sidebar-header">
			<button class="menu-button js-menu-toggle">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</button>
			<a href="../" class="navbar-brand">CHIBB</a>
		</div>

		<ul class="sidebar-nav">
			<li>
				<a href="{{ path('dashboard') }}">Dashboard</a>
			</li>
			<li>
				<a href="#">Statistics</a>
			</li>
			<li>
				<a href="#">Exports</a>
			</li>
			<li>
				<a href="{{ path('settings_sensors') }}">Manage sensors</a>
			</li>
			<li>
				<a href="#">Profile</a>
			</li>
			<li>
				<a href="{{ path('fos_user_logout') }}">Logout</a>
			</li>
		</ul>
		<div class="sidebar-version">
			<span>Version: 0.1</span>
		</div>
	</div>
{% endif %}